<!-- your-component.component.html -->

<div>
  <h2>Allocate Subject</h2>
  <form [formGroup]="allocationForm" (ngSubmit)="onSubmit()">
    <label for="teacherId">Teacher:</label>
    <select id="teacherId" formControlName="teacherId" required>
      <option *ngFor="let teacher of teachers" [value]="teacher.teacherId">{{ teacher.firstName }} {{ teacher.lastName }}</option>
    </select>

    <label for="classroomId">Classroom:</label>
    <select id="classroomId" formControlName="subjectId" required>
      <option *ngFor="let subject of subjects" [value]="subject.subjectId">{{ subject.subjectName }}</option>
    </select>

    <button type="submit" [disabled]="!allocationForm.valid">Allocate Subject</button>
